
.bg-pink {
    background-color: #fc92c7; 
}

.text-pink {
    color: #ff69b4;
}

.text-purple {
    color: #dea5f8;
}

.btn-pink {
    color: #ff69b4;
}

.card-pink {
    color: #fd96d4;
}

.table-pink {
    color: #efd9e4;
}